.login {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .login__container {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: white;
    padding: 30px;
    border-radius: 25px;
    box-shadow: 0px 0px 24px 6px rgb(224, 224, 224);
}
  .login__textBox {
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px;
    border-radius: 10px;
    color:  lightgrey;
    border: 1px solid lightgrey;
  }
  .login__btn {
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px;
    border: none;
    border-radius: 10px;
    color: white;
    background-image: linear-gradient(to bottom, #63eae1 0%,  #38CEE8  100%);
    box-shadow: 0px 7px 31px -19px rgba(56, 206, 232, 1);

  }
  .login__google {
      color: #5d4e7b;
    background-color: #dbe3e5;
  }
  .login div {
    margin-top: 7px;
  }


  .btn-grad {
      background-image: linear-gradient(to right, #77A1D3 0%, #79CBCA  51%, #77A1D3  100%)
}
  .btn-grad {
     margin: 10px;
     padding: 15px 45px;
     text-align: center;
     text-transform: uppercase;
     transition: 0.5s;
     background-size: 200% auto;
     color: white;            
     box-shadow: 0 0 20px #eee;
     border-radius: 10px;
     display: block;
   }

   .btn-grad:hover {
     background-position: right center; /* change the direction of the change here */
     color: #fff;
     text-decoration: none;
   }
  